
img {
  display: block;
  margin: 10px;
  width: 1200px;
  border: dashed olivedrab;
}

#validation-input {
  border: 3px solid #BDBDBD;
}
#validation-input.valid {
  border-color: #4CAF50;
}
#validation-input.invalid {
  border-color: #F44336;
}